.headPop b {
	color:#115098;
	height:30px;
	font-size:13px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACUUlEQVQ4T52Ty2tTURCHvznn3DRpk3jT4ptWVBAE3agrQUFUWioUdCOIiLpQwa0Lt+61W0ER3BV0I9oLouBCpP+DDxCf9YG9SVuS3Nx77riIiRYVwd9mYGC+mTnnNzI+Pg7AxMTEMWvtLREx/EWqCnA5iqLrvZz0AJOTk8sHDx8YKpcrpGn+W7FzQpZ2iGYfemPMUBRFCYDrk0RsrRZy6sw9ihUQAaUbAZIl4daNo4jAwsKC9MEr+wiZeNxIiiCIgIiwuNzi22dlaSlBVxb8BCiKqpJksJwWEIE083xZWCLpZNikiPc5STv5M6BRb6CqZLmlqQNkWU67k2IHhxkchLztUVXiOKZYLP4B0GgAgqTC8uv0R9bQW9a1lUplgHq9bsOwvBd4sgJQr9fzTtLh/p1j/E1pmhLHsa5eU5vZv3/vyadP5x73AXEcXzx/7sJNRQVVo9ptrqq9//eglEqDVyrl8jsXFC4Bj/s+6CkoBQf37Nr96Mzps2ZkeJjGYoMomvUPZqPLnXbnKsDU1FTZBRKXiuVQpu9Ml0aS8GWxNLDRGIOxBiPdaI3FGMEY25sCYwwIz+ffzX+dmbm7z3XeNA+t37V99c4dOwmCAs45AhdgrcMYC6rkmtNqtWi2mlhjmJt7ts2rvw3gnCscD6u1QrPZ5uP8KypDVbrbS9dEi4tsGhvDe8+Hj+8ZHd1ENazx/MXLFMBZY46EYQiqjG4YI8v9ijdZVa2SpikgbNm8lXaSsH7tOhkoBCeAa857//bB7H0j0rf3P6WqoHyCX67xf/UdBk73xLgoZ0IAAAAASUVORK5CYII=) no-repeat 10px center;
	padding:0 0 0 30px;
}
.overlay {
	background:none repeat scroll 0 0 #000;
	bottom:0;
	display:none;
	left:0;
	opacity:0.5;
	position:fixed;
	right:0;
	top:0;
	z-index:300000
}
.modal-footer:not(.version-xs) {
	display:inline-block;
	width:100%;
	text-align:right;
	margin-top:10px;
	padding:10px 15px;
}
textarea.area {
	border-radius:0 0 0 0;
	font-family:Arial;
	height:40px;
	max-height:170px;
	resize:none;
	width:79%;
	padding:3px 8px
}
.menuPop {
	display:block;
	list-style:none;
	margin:0;
	padding:10px 0 0
}
.menuPop li {
	display:inline-block;
	width:100%;
	clear:both;
	margin-bottom:2px
}
.menuPop li label {
	display:block;
	background:#ccc;
	padding:5px
}
#contentPop {
	display:inline-block;
	width:100%;
	overflow-y:auto;
	border-top:1px solid #ccc;
	margin:10px 0 0
}
.contentPop {
	display:inline-block;
	width:100%;
	overflow-y:auto
}
#contentPop #leftPop {
	width:20%;
	height:350px;
	float:left;
	border-right:1px solid #ccc;
	overflow-y:auto;
	padding:0 10px 0 0
}
#contentPop #rightPop {
	width:78%;
	float:right;
	padding:10px 0 0
}
#rightPop .headbox {
	display:inline-block;
	width:100%;
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc
}
#rightPop .headbox h3 {
	display:inline-block;
	float:left;
	font-size:14px;
	font-family:Arial;
	color:#c00000;
	margin:0!important
}
.frmPop .bottom {
	border-top:1px solid #E2E7E9;
	display:inline-block;
	margin-top:10px;
	padding-top:5px;
	width:100%
}
.isoman-container, .isoman-container *, .isoman-widget, .isoman-widget * {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
	background:transparent;
	text-decoration:none;
	color:#333;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	text-shadow:none;
	float:none;
	position:static;
	width:auto;
	height:auto;
	white-space:nowrap;
	cursor:inherit;
	-webkit-tap-highlight-color:transparent;
	line-height:normal;
	font-weight:normal;
	text-align:left;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	direction:ltr
}
.isoman-widget button {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.isoman-container *[unselectable] {
	-moz-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	user-select:none
}
.isoman-container ::-webkit-scrollbar {
width:8px;
height:8px;
-webkit-border-radius:4px
}
.isoman-container ::-webkit-scrollbar-track, .isoman-container ::-webkit-scrollbar-track-piece {
background-color:transparent
}
.isoman-container ::-webkit-scrollbar-thumb {
background-color:rgba(53, 57, 71, 0.3);
width:6px;
height:6px;
-webkit-border-radius:4px
}
.isoman-fade {
	opacity:0;
-webkit-transition:opacity .15s linear;
transition:opacity .15s linear
}
.isoman-fade.isoman-in {
	opacity:1
}
.isoman-abs-layout {
	position:relative
}
body .isoman-abs-layout-item, .isoman-abs-end {
	position:absolute
}
.isoman-abs-end {
	width:1px;
	height:1px
}
.isoman-container-body.isoman-abs-layout {
	overflow-x:hidden;
	overflow-y:auto;
	width: 100% !important;
}
.isoman-tooltip {
	position:absolute;
	padding:5px;
	opacity:.8;
	filter:alpha(opacity=80);
	zoom:1
}
.isoman-tooltip-inner {
	font-size:11px;
	background-color:#000;
	color:#fff;
	max-width:200px;
	padding:5px 8px 4px 8px;
	text-align:center;
	white-space:normal
}
.isoman-tooltip-inner {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.isoman-tooltip-inner {
	-webkit-box-shadow:0 0 5px #000;
	-moz-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000
}
.isoman-tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	line-height:0;
	border:5px dashed #000
}
.isoman-tooltip-arrow-n {
	border-bottom-color:#000
}
.isoman-tooltip-arrow-s {
	border-top-color:#000
}
.isoman-tooltip-arrow-e {
	border-left-color:#000
}
.isoman-tooltip-arrow-w {
	border-right-color:#000
}
.isoman-tooltip-nw, .isoman-tooltip-sw {
	margin-left:-14px
}
.isoman-tooltip-n .isoman-tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-bottom-style:solid;
	border-top:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-nw .isoman-tooltip-arrow {
	top:0;
	left:10px;
	border-bottom-style:solid;
	border-top:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-ne .isoman-tooltip-arrow {
	top:0;
	right:10px;
	border-bottom-style:solid;
	border-top:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-s .isoman-tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-top-style:solid;
	border-bottom:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-sw .isoman-tooltip-arrow {
	bottom:0;
	left:10px;
	border-top-style:solid;
	border-bottom:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-se .isoman-tooltip-arrow {
	bottom:0;
	right:10px;
	border-top-style:solid;
	border-bottom:0;
	border-left-color:transparent;
	border-right-color:transparent
}
.isoman-tooltip-e .isoman-tooltip-arrow {
	right:0;
	top:50%;
	margin-top:-5px;
	border-left-style:solid;
	border-right:0;
	border-top-color:transparent;
	border-bottom-color:transparent
}
.isoman-tooltip-w .isoman-tooltip-arrow {
	left:0;
	top:50%;
	margin-top:-5px;
	border-right-style:solid;
	border-left:none;
	border-top-color:transparent;
	border-bottom-color:transparent
}
.isoman-btn {
	border:1px solid #b1b1b1;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
	position:relative;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	display:inline-block;
*display:inline;
*zoom:1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color:#f0f0f0;
	background-image:-moz-linear-gradient(top, #fff, #d9d9d9);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d9d9d9));
	background-image:-webkit-linear-gradient(top, #fff, #d9d9d9);
	background-image:-o-linear-gradient(top, #fff, #d9d9d9);
	background-image:linear-gradient(to bottom, #fff, #d9d9d9);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);
	zoom:1
}
.isoman-btn:hover, .isoman-btn:focus {
	color:#333;
	background-color:#e3e3e3;
	background-image:-moz-linear-gradient(top, #f2f2f2, #ccc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ccc));
	background-image:-webkit-linear-gradient(top, #f2f2f2, #ccc);
	background-image:-o-linear-gradient(top, #f2f2f2, #ccc);
	background-image:linear-gradient(to bottom, #f2f2f2, #ccc);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffcccccc', GradientType=0);
	zoom:1
}
.isoman-btn.isoman-disabled button, .isoman-btn.isoman-disabled:hover button {
	cursor:default;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	opacity:.4;
	filter:alpha(opacity=40);
	zoom:1
}
.isoman-btn.isoman-active, .isoman-btn.isoman-active:hover {
	background-color:#d6d6d6;
	background-image:-moz-linear-gradient(top, #e6e6e6, #c0c0c0);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#c0c0c0));
	background-image:-webkit-linear-gradient(top, #e6e6e6, #c0c0c0);
	background-image:-o-linear-gradient(top, #e6e6e6, #c0c0c0);
	background-image:linear-gradient(to bottom, #e6e6e6, #c0c0c0);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffc0c0c0', GradientType=0);
	zoom:1;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.isoman-btn:not(.isoman-disabled):active {
background-color:#d6d6d6;
background-image:-moz-linear-gradient(top, #e6e6e6, #c0c0c0);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#c0c0c0));
background-image:-webkit-linear-gradient(top, #e6e6e6, #c0c0c0);
background-image:-o-linear-gradient(top, #e6e6e6, #c0c0c0);
background-image:linear-gradient(to bottom, #e6e6e6, #c0c0c0);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffc0c0c0', GradientType=0);
zoom:1;
-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.isoman-btn button {
	padding:4px 10px;
	font-size:14px;
	line-height:20px;
*line-height:16px;
	cursor:pointer;
	color:#333;
	text-align:center;
	overflow:visible;
	-webkit-appearance:none
}
.isoman-btn button::-moz-focus-inner {
border:0;
padding:0
}
.isoman-btn i {
	text-shadow:1px 1px #fff
}
.isoman-primary {
	min-width:50px;
	color:#fff;
	border:1px solid #b1b1b1;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
	background-color:#006dcc;
	background-image:-moz-linear-gradient(top, #08c, #04c);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image:-webkit-linear-gradient(top, #08c, #04c);
	background-image:-o-linear-gradient(top, #08c, #04c);
	background-image:linear-gradient(to bottom, #08c, #04c);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	zoom:1
}
.isoman-primary:hover, .isoman-primary:focus {
	background-color:#005fb3;
	background-image:-moz-linear-gradient(top, #0077b3, #003cb3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0077b3), to(#003cb3));
	background-image:-webkit-linear-gradient(top, #0077b3, #003cb3);
	background-image:-o-linear-gradient(top, #0077b3, #003cb3);
	background-image:linear-gradient(to bottom, #0077b3, #003cb3);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0077b3', endColorstr='#ff003cb3', GradientType=0);
	zoom:1
}
.isoman-primary.isoman-disabled button, .isoman-primary.isoman-disabled:hover button {
	cursor:default;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	opacity:.4;
	filter:alpha(opacity=40);
	zoom:1
}
.isoman-primary.isoman-active, .isoman-primary.isoman-active:hover, .isoman-primary:not(.isoman-disabled):active {
background-color:#005299;
background-image:-moz-linear-gradient(top, #069, #039);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#069), to(#039));
background-image:-webkit-linear-gradient(top, #069, #039);
background-image:-o-linear-gradient(top, #069, #039);
background-image:linear-gradient(to bottom, #069, #039);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006699', endColorstr='#ff003399', GradientType=0);
zoom:1;
-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.isoman-primary button, .isoman-primary button i {
	color:#fff;
	text-shadow:1px 1px #333
}
.isoman-btn-large button {
	padding:9px 14px;
	font-size:16px;
	line-height:normal;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}
.isoman-btn-large i {
	margin-top:2px
}
.isoman-btn-small button {
	padding:3px 5px;
	font-size:12px;
	line-height:15px
}
.isoman-btn-small i {
	margin-top:0
}
.isoman-btn .isoman-caret {
	margin-top:8px;
*margin-top:6px;
	margin-left:0
}
.isoman-btn-small .isoman-caret {
	margin-top:6px;
*margin-top:4px;
	margin-left:0
}
.isoman-caret {
	display:inline-block;
*display:inline;
*zoom:1;
	width:0;
	height:0;
	vertical-align:top;
	border-top:4px solid #333;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	content:""
}
.isoman-disabled .isoman-caret {
	border-top-color:#aaa
}
.isoman-caret.isoman-up {
	border-bottom:4px solid #333;
	border-top:0
}
.isoman-rtl .isoman-btn button {
	direction:rtl
}
.isoman-container, .isoman-container-body {
	display:block
}
.isoman-autoscroll {
	overflow:hidden
}
.isoman-btn-group .isoman-btn {
	border-width:1px 0 1px 0;
	margin:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.isoman-btn-group .isoman-first {
	border-left:1px solid #b1b1b1;
	border-left:1px solid rgba(0, 0, 0, 0.25);
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px
}
.isoman-btn-group .isoman-last {
	border-right:1px solid #b1b1b1;
	border-right:1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0
}
.isoman-btn-group .isoman-first.isoman-last {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.isoman-btn-group .isoman-btn.isoman-flow-layout-item {
	margin:0
}
.isoman-carousel {
	background:black
}
.isoman-carousel .isoman-dir {
	position:absolute;
	top:50%;
	left:25px;
	width:40px;
	height:40px;
	margin-top:-20px;
	font-size:60px;
*font-size:30px;
	font-weight:100;
	line-height:30px;
	color:white;
	text-align:center;
	background:#222;
	border:3px solid white;
	-webkit-border-radius:23px;
	-moz-border-radius:23px;
	border-radius:23px;
	opacity:50;
	filter:alpha(opacity=5000);
	zoom:1;
	cursor:pointer;
	z-index:1000
}
.isoman-carousel .isoman-next {
	right:25px;
	left:auto
}
.isoman-carousel .isoman-dir:hover {
	opacity:100;
	filter:alpha(opacity=10000);
	zoom:1
}
.isoman-carousel .isoman-view {
	position:absolute;
	width:100%;
	height:100%;
	background:black
}
.isoman-object {
	position:absolute;
	visibility:hidden
}
.isoman-checkbox {
	cursor:pointer
}
i.isoman-i-checkbox {
	margin:0 3px 0 0;
	border:1px solid #c5c5c5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color:#f0f0f0;
	background-image:-moz-linear-gradient(top, #fff, #d9d9d9);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d9d9d9));
	background-image:-webkit-linear-gradient(top, #fff, #d9d9d9);
	background-image:-o-linear-gradient(top, #fff, #d9d9d9);
	background-image:linear-gradient(to bottom, #fff, #d9d9d9);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);
	zoom:1;
	text-indent:-10em;
*font-size:0;
*line-height:0;
*text-indent:0;
	overflow:hidden
}
.isoman-checked i.isoman-i-checkbox {
	color:#333;
	font-size:16px;
	line-height:16px;
	text-indent:0
}
.isoman-checkbox:focus i.isoman-i-checkbox, .isoman-checkbox.isoman-focus i.isoman-i-checkbox {
	border:1px solid rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65)
}
.isoman-checkbox.isoman-disabled .isoman-label, .isoman-checkbox.isoman-disabled i.isoman-i-checkbox {
	color:#acacac
}
.isoman-rtl .isoman-checkbox {
	direction:rtl;
	text-align:right
}
.isoman-rtl i.isoman-i-checkbox {
	margin:0 0 0 3px
}
.isoman-combobox {
	display:inline-block;
*display:inline;
*zoom:1;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
*height:32px
}
.isoman-combobox input {
	border:1px solid #c5c5c5;
	border-right-color:#c5c5c5;
	height:28px
}
.isoman-combobox.isoman-disabled input {
	color:#adadad
}
.isoman-combobox.isoman-has-open input {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}
.isoman-combobox .isoman-btn {
	border-left:0;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}
.isoman-combobox button {
	padding-right:8px;
	padding-left:8px
}
.isoman-combobox.isoman-disabled .isoman-btn button {
	cursor:default;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	opacity:.4;
	filter:alpha(opacity=40);
	zoom:1
}
.isoman-fieldset {
	border:0 solid #9e9e9e;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.isoman-fieldset>.isoman-container-body {
	margin-top:-15px
}
.isoman-fieldset-title {
	margin-left:5px;
	padding:0 5px 0 5px
}
.isoman-fit-layout {
	display:inline-block;
*display:inline;
*zoom:1
}
.isoman-fit-layout-item {
	position:absolute
}
.isoman-scrollbar {
	position:absolute;
	width:7px;
	height:100%;
	top:2px;
	right:2px;
	opacity:.4;
	filter:alpha(opacity=40);
	zoom:1
}
.isoman-scrollbar-h {
	top:auto;
	right:auto;
	left:2px;
	bottom:2px;
	width:100%;
	height:7px
}
.isoman-scrollbar-thumb {
	position:absolute;
	background-color:#000;
	border:1px solid #888;
	border-color:rgba(85, 85, 85, 0.6);
	width:5px;
	height:100%;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px
}
.isoman-scrollbar-h .isoman-scrollbar-thumb {
	width:100%;
	height:5px
}
.isoman-scrollbar:hover, .isoman-scrollbar.isoman-active {
	background-color:#AAA;
	opacity:.6;
	filter:alpha(opacity=60);
	zoom:1;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px
}
.isoman-scroll {
	position:relative
}
.isoman-panel {
	border:0 solid #9e9e9e;
	background-color:#f0f0f0;
	background-image:-moz-linear-gradient(top, #fdfdfd, #ddd);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background-image:-webkit-linear-gradient(top, #fdfdfd, #ddd);
	background-image:-o-linear-gradient(top, #fdfdfd, #ddd);
	background-image:linear-gradient(to bottom, #fdfdfd, #ddd);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0);
	zoom:1
}
.isoman-floatpanel {
	position:absolute;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2)
}
.isoman-floatpanel.isoman-fixed {
	position:fixed
}
.isoman-floatpanel .isoman-arrow, .isoman-floatpanel .isoman-arrow:after {
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}
.isoman-floatpanel .isoman-arrow {
	border-width:11px
}
.isoman-floatpanel .isoman-arrow:after {
	border-width:10px;
	content:""
}
.isoman-floatpanel.isoman-popover {
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background:transparent;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	top:0;
	left:0;
	background:#fff;
	border:1px solid #9e9e9e;
	border:1px solid rgba(0, 0, 0, 0.25)
}
.isoman-floatpanel.isoman-popover.isoman-bottom {
	margin-top:10px;
*margin-top:0
}
.isoman-floatpanel.isoman-popover.isoman-bottom>.isoman-arrow {
	left:50%;
	margin-left:-11px;
	border-top-width:0;
	border-bottom-color:#9e9e9e;
	border-bottom-color:rgba(0, 0, 0, 0.25);
	top:-11px
}
.isoman-floatpanel.isoman-popover.isoman-bottom>.isoman-arrow:after {
	top:1px;
	margin-left:-10px;
	border-top-width:0;
	border-bottom-color:#fff
}
.isoman-floatpanel.isoman-popover.isoman-bottom.isoman-start {
	margin-left:-22px
}
.isoman-floatpanel.isoman-popover.isoman-bottom.isoman-start>.isoman-arrow {
	left:20px
}
.isoman-floatpanel.isoman-popover.isoman-bottom.isoman-end {
	margin-left:22px
}
.isoman-floatpanel.isoman-popover.isoman-bottom.isoman-end>.isoman-arrow {
	right:10px;
	left:auto
}
.isoman-flow-layout-item {
	display:inline-block;
*display:inline;
*zoom:1
}
.isoman-flow-layout-item {
	margin:2px 0 2px 2px
}
.isoman-flow-layout-item.isoman-last {
	margin-right:2px
}
.isoman-flow-layout {
	white-space:normal
}
.isoman-tinymce-inline .isoman-flow-layout {
	white-space:nowrap
}
.isoman-rtl .isoman-flow-layout {
	text-align:right;
	direction:rtl
}
.isoman-rtl .isoman-flow-layout-item {
	margin:2px 2px 2px 0
}
.isoman-rtl .isoman-flow-layout-item.isoman-last {
	margin-left:2px
}
.isoman-grid {
	border:1px solid #AAA
}
.isoman-grid-cell .isoman-caret {
	display:none
}
.isoman-grid-cell .isoman-up, .isoman-grid-cell .isoman-down {
	display:block
}
.isoman-grid-layout {
	position:relative
}
.isoman-grid-layout-item {
	position:absolute
}
div.isoman-grid-head {
	overflow:hidden;
	background-color:#f0f0f0;
	background-image:-moz-linear-gradient(top, #fdfdfd, #ddd);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background-image:-webkit-linear-gradient(top, #fdfdfd, #ddd);
	background-image:-o-linear-gradient(top, #fdfdfd, #ddd);
	background-image:linear-gradient(to bottom, #fdfdfd, #ddd);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0);
	zoom:1;
	border-bottom:1px solid #9e9e9e
}
.isoman-grid-body {
	display:block;
	overflow:scroll;
	overflow-x:hidden;
	margin:0;
	padding:0;
	background:#FFF;
	height:1px
}
.isoman-grid-body tbody .isoman-grid-cell {
	display:inline-block
}
.isoman-grid td, .isoman-grid th {
	margin:0
}
.isoman-grid td, .isoman-grid th {
	text-overflow:ellipsis;
	white-space:nowrap;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px
}
.isoman-grid-cell {
	padding:5px
}
.isoman-grid-head .isoman-grid-cell {
	position:relative;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis
}
.isoman-grid-head-item .isoman-caret {
	position:absolute;
	right:3px;
	top:12px
}
.isoman-grid-body tbody td {
	border-bottom:1px solid #DDD;
	height:28px
}
.isoman-grid table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin:0;
	padding:0;
	table-layout:fixed
}
.isoman-grid td {
	overflow:hidden
}
.isoman-fit-layout {
	position:relative
}
.isoman-grid thead td .isoman-grid-cell {
	padding:0 3px 0 5px;
	line-height:0
}
.isoman-grid thead td {
	line-height:0;
	overflow:hidden
}
.isoman-grid .isoman-grid-odd {
	background-color:#fafafa
}
.isoman-grid tr.isoman-selected td {
	background:#ddefff
}
.isoman-grid tr.isoman-active td {
	background:#ddf;
	background-color:#59a5e1;
	background-image:-moz-linear-gradient(top, #71b9eb, #3587d2);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#71b9eb), to(#3587d2));
	background-image:-webkit-linear-gradient(top, #71b9eb, #3587d2);
	background-image:-o-linear-gradient(top, #71b9eb, #3587d2);
	background-image:linear-gradient(to bottom, #71b9eb, #3587d2);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff71b9eb', endColorstr='#ff3587d2', GradientType=0);
	zoom:1
}
.isoman-grid tr.isoman-active td .isoman-txt {
	color:#fff
}
.isoman-grid-edit {
	background:#FFF;
	border:1px solid #AAA;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display:inline-block;
	margin-left:-3px
}
.isoman-grid-edit input {
	padding-left:5px
}
.isoman-grid-cell i {
	margin-right:3px
}
.isoman-grid tr.isoman-checked, .isoman-grid tr.isoman-checked td {
	background-color:#59a5e1
}
@media all and (min-width:0) {
.isoman-grid tr.isoman-checked .isoman-ico {
color:white
}
}
.isoman-grid tr.isoman-checked div .isoman-txt {
	color:white
}
.isoman-grid tr.isoman-checked .isoman-i-checkbox {
	opacity:1;
	filter:alpha(opacity=100);
	zoom:1;
	color:#333
}
.isoman-grid-cell .isoman-inter, .isoman-grid-cell .isoman-checked {
	font-size:16px;
	line-height:16px;
	text-indent:0
}
.isoman-iframe {
	border:0 solid #9e9e9e;
	width:100%;
	height:100%
}
.isoman-image {
	display:inline-block;
*display:inline;
*zoom:1;
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	border:1px solid #AAA;
	opacity:70;
	filter:alpha(opacity=7000);
	zoom:1;
	vertical-align:middle;
	line-height:100px;
	text-align:center
}
.isoman-image img {
	vertical-align:middle;
	max-height:77px;
	max-width:100px;
	margin-top:-24px;
*margin-top:0
}
.isoman-image.isoman-loaded img {
	position:absolute;
	visibility:visible
}
.isoman-image:hover, .isoman-image.isoman-checked {
	opacity:100;
	filter:alpha(opacity=10000);
	zoom:1;
	-webkit-box-shadow:0 0 5px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:0 0 5px rgba(255, 255, 255, 0.75);
	box-shadow:0 0 5px rgba(255, 255, 255, 0.75)
}
.isoman-image:hover {
	outline:2px solid #00709f
}
.isoman-image.isoman-active {
	border:1px solid #52a8ec;
	-webkit-box-shadow:0 0 5px #52a8ec;
	-moz-box-shadow:0 0 5px #52a8ec;
	box-shadow:0 0 5px #52a8ec;
	color:red
}
.isoman-image.isoman-active .isoman-info, .isoman-image.isoman-checked .isoman-info {
	background:#666
}
.isoman-info {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#333;
	color:#FFF;
	padding:3px;
	opacity:80;
	filter:alpha(opacity=8000);
	zoom:1
}
.isoman-image .isoman-i-checkbox, .isoman-image.isoman-checked .isoman-i-checkbox {
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	position:absolute;
	top:1px;
	right:6px;
	margin:1px;
	border:1px solid #FFF;
	background:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background:#333;
	color:#FFF
}
.isoman-image .isoman-i-checkbox {
	display:none
}
.isoman-image:hover .isoman-i-checkbox, .isoman-image.isoman-checked .isoman-i-checkbox {
	display:block
}
.isoman-info .isoman-i-checkbox:before {
	color:#FFF
}
.isoman-imagecanvas {
	overflow:auto
}
.isoman-imagecanvas canvas, .isoman-imagecanvas img {
	display:block;
	box-shadow:0 2px 5px 3px #666;
	max-width:none
}
.isoman-imagecanvas-handle {
	position:absolute;
	border:1px solid black;
	background:#FFF;
	width:8px;
	height:8px;
	margin:-4px 0 0 -4px;
	z-index:10000;
	display:block
}
.isoman-imagecanvas-handle:hover, .isoman-imagecanvas-handle-selected {
	background:#000
}
.isoman-imagecanvas-ants {
	opacity:60;
	filter:alpha(opacity=6000);
	zoom:1;
	display:block;
	position:absolute;
	background:url('../images/ants.gif') #fff;
	width:1px;
	height:1px;
	z-index:1001
}
.isoman-imagecanvas-middle {
	display:block;
	position:absolute;
	overflow:hidden;
	z-index:1000;
	background:transparent
}
.isoman-imagecanvas-middle * {
	position:absolute;
	cursor:move
}
.isoman-imagecanvas-overlay {
	display:none;
	position:absolute
}
.isoman-imagecanvas-clip {
	position:absolute;
	display:block;
	background:#000
}
.isoman-imagecanvas-crop .isoman-imagecanvas-overlay {
	display:block
}
.isoman-imagecanvas-crop .isoman-imagecanvas-clip * {
	opacity:60;
	filter:alpha(opacity=6000);
	zoom:1
}
.isoman-imagecanvas-circle {
	position:absolute;
	display:block;
	background:black;
	border:1px solid white;
	opacity:.3
}
.isoman-label {
	display:inline-block;
*display:inline;
*zoom:1;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	border:0;
	overflow:hidden
}
.isoman-label.isoman-autoscroll {
	overflow:auto
}
.isoman-label.isoman-disabled {
	color:#aaa
}
.isoman-label.isoman-multiline {
	white-space:pre-wrap
}
.isoman-rtl .isoman-label {
	text-align:right;
	direction:rtl
}
.isoman-menubar .isoman-menubtn {
	border-color:transparent;
	background:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	filter:none
}
.isoman-menubar {
	border:1px solid #c4c4c4
}
.isoman-menubar .isoman-menubtn button span {
	color:#333
}
.isoman-menubar .isoman-caret {
	border-top-color:#333
}
.isoman-menubar .isoman-menubtn:hover, .isoman-menubar .isoman-menubtn.isoman-active, .isoman-menubar .isoman-menubtn:focus {
	border-color:transparent;
	background:#e6e6e6;
	filter:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.isoman-menubtn.isoman-disabled span {
	color:#aaa
}
.isoman-menubtn span {
	color:#333;
	margin-right:2px;
	line-height:20px;
*line-height:16px
}
.isoman-menubtn.isoman-btn-small span {
	font-size:12px;
	line-height:15px;
*line-height:16px
}
.isoman-menubtn.isoman-fixed-width span {
	display:inline-block;
	overflow-x:hidden;
	text-overflow:ellipsis;
	width:90px
}
.isoman-menubtn.isoman-fixed-width.isoman-btn-small span {
	width:70px
}
.isoman-rtl .isoman-menubtn button {
	direction:rtl;
	text-align:right
}
.isoman-listbox button {
	text-align:left;
	padding-right:20px;
	position:relative
}
.isoman-listbox .isoman-caret {
	position:absolute;
	margin-top:-2px;
	right:8px;
	top:50%
}
.isoman-rtl .isoman-listbox .isoman-caret {
	right:auto;
	left:8px
}
.isoman-rtl .isoman-listbox button {
	padding-right:10px;
	padding-left:20px
}
.isoman-menu-item {
	display:block;
	padding:6px 15px 6px 12px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color:#333;
	white-space:nowrap;
	cursor:pointer;
	line-height:normal;
	border-left:4px solid transparent;
	margin-bottom:1px
}
.isoman-menu-item .isoman-ico, .isoman-menu-item .isoman-text {
	color:#333
}
.isoman-menu-item.isoman-disabled .isoman-text, .isoman-menu-item.isoman-disabled .isoman-ico {
	color:#adadad
}
.isoman-menu-item:hover .isoman-text, .isoman-menu-item.isoman-selected .isoman-text {
	color:#fff
}
.isoman-menu-item:hover .isoman-ico, .isoman-menu-item.isoman-selected .isoman-ico, .isoman-menu-item:focus .isoman-ico {
	color:#fff
}
.isoman-menu-item.isoman-disabled:hover {
	background:#ccc
}
.isoman-menu-shortcut {
	display:inline-block;
	color:#adadad
}
.isoman-menu-shortcut {
	display:inline-block;
*display:inline;
*zoom:1;
	padding:0 15px 0 20px
}
.isoman-menu-item:hover .isoman-menu-shortcut, .isoman-menu-item.isoman-selected .isoman-menu-shortcut, .isoman-menu-item:focus .isoman-menu-shortcut {
	color:#fff
}
.isoman-menu-item .isoman-caret {
	margin-top:4px;
*margin-top:3px;
	margin-right:6px;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid #333
}
.isoman-menu-item.isoman-selected .isoman-caret, .isoman-menu-item:focus .isoman-caret, .isoman-menu-item:hover .isoman-caret {
	border-left-color:#fff
}
.isoman-menu-align .isoman-menu-shortcut {
*margin-top:-2px
}
.isoman-menu-align .isoman-menu-shortcut, .isoman-menu-align .isoman-caret {
	position:absolute;
	right:0
}
.isoman-menu-item.isoman-active i {
	visibility:visible
}
.isoman-menu-item-normal.isoman-active {
	background-color:#c8def4
}
.isoman-menu-item-preview.isoman-active {
	border-left:5px solid #aaa
}
.isoman-menu-item-normal.isoman-active .isoman-text {
	color:#333
}
.isoman-menu-item-normal.isoman-active:hover .isoman-text, .isoman-menu-item-normal.isoman-active:hover .isoman-ico {
	color:#fff
}
.isoman-menu-item:hover, .isoman-menu-item.isoman-selected, .isoman-menu-item:focus {
	text-decoration:none;
	color:#fff;
	background-color:#0081c2;
	background-image:-moz-linear-gradient(top, #08c, #0077b3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
	background-image:-webkit-linear-gradient(top, #08c, #0077b3);
	background-image:-o-linear-gradient(top, #08c, #0077b3);
	background-image:linear-gradient(to bottom, #08c, #0077b3);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
	zoom:1
}
div.isoman-menu .isoman-menu-item-sep, .isoman-menu-item-sep:hover {
	border:0;
	padding:0;
	height:1px;
	margin:9px 1px;
	overflow:hidden;
	background:#cbcbcb;
	border-bottom:1px solid #fff;
	cursor:default;
	filter:none
}
.isoman-rtl .isoman-menu-item {
	text-align:right;
	direction:rtl;
	padding:6px 12px 6px 15px
}
.isoman-menu-align.isoman-rtl .isoman-menu-shortcut, .isoman-menu-align.isoman-rtl .isoman-caret {
	right:auto;
	left:0
}
.isoman-rtl .isoman-menu-item .isoman-caret {
	margin-left:6px;
	margin-right:0;
	border-right:4px solid #333;
	border-left:0
}
.isoman-rtl .isoman-menu-item.isoman-selected .isoman-caret, .isoman-rtl .isoman-menu-item:focus .isoman-caret, .isoman-rtl .isoman-menu-item:hover .isoman-caret {
	border-left-color:transparent;
	border-right-color:#fff
}
.isoman-menu {
	position:absolute;
	left:0;
	top:0;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background:transparent;
	z-index:1000;
	padding:5px 0 5px 0;
	margin:2px 0 0;
	min-width:160px;
	background:#fff;
	border:1px solid #989898;
	border:1px solid rgba(0, 0, 0, 0.2);
	z-index:1002;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	max-height:400px;
	overflow:auto;
	overflow-x:hidden
}
.isoman-menu i {
	display:none
}
.isoman-menu-has-icons i {
	display:inline-block;
*display:inline
}
.isoman-menu-sub-tr-tl {
	margin:-6px 0 0 -1px
}
.isoman-menu-sub-br-bl {
	margin:6px 0 0 -1px
}
.isoman-menu-sub-tl-tr {
	margin:-6px 0 0 1px
}
.isoman-menu-sub-bl-br {
	margin:6px 0 0 1px
}
.isoman-fullscreen {
	border:0;
	padding:0;
	margin:0;
	overflow:hidden;
	background:#fff;
	height:100%
}
div.isoman-fullscreen {
	position:fixed;
	top:0;
	left:0
}
#isoman-modal-block {
	opacity:0;
	filter:alpha(opacity=0);
	zoom:1;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000
}
#isoman-modal-block.isoman-in {
	opacity:.3;
	filter:alpha(opacity=30);
	zoom:1
}
.isoman-window-move {
	cursor:move
}
.isoman-window {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background:transparent;
	background:#fff;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	-webkit-transition:opacity 150ms ease-in;
	transition:opacity 150ms ease-in
}
.isoman-window.isoman-in {
	opacity:1
}
.isoman-window-head {
	padding:9px 15px;
	border-bottom:1px solid #c5c5c5;
	position:relative
}
.isoman-window-head .isoman-close {
	position:absolute;
	right:15px;
	top:9px;
	font-size:20px;
	font-weight:bold;
	line-height:20px;
	color:#858585;
	cursor:pointer;
	height:20px;
	overflow:hidden
}
.isoman-close:hover {
	color:#adadad
}
.isoman-window-head .isoman-title {
	line-height:20px;
	font-size:20px;
	font-weight:bold;
	text-rendering:optimizelegibility;
	padding-right:10px
}
.isoman-window .isoman-container-body {
	display:block
}
.isoman-foot {
	display:block;
	background-color:#fff;
	border-top:1px solid #c5c5c5;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px
}
.isoman-window-head .isoman-dragh {
	position:absolute;
	top:0;
	left:0;
	cursor:move;
	width:90%;
	height:100%
}
.isoman-window iframe {
	width:100%;
	height:100%
}
.isoman-window.isoman-fullscreen, .isoman-window.isoman-fullscreen .isoman-foot {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.isoman-rtl .isoman-window-head .isoman-close {
	position:absolute;
	right:auto;
	left:15px
}
.isoman-rtl .isoman-window-head .isoman-dragh {
	left:auto;
	right:0
}
.isoman-rtl .isoman-window-head .isoman-title {
	direction:rtl;
	text-align:right
}
.isoman-path {
	display:inline-block;
*display:inline;
*zoom:1;
	padding:8px;
	white-space:normal
}
.isoman-path .isoman-txt {
	display:inline-block;
	padding-right:3px
}
.isoman-path .isoman-path-body {
	display:inline-block
}
.isoman-path-item {
	display:inline-block;
*display:inline;
*zoom:1;
	cursor:pointer;
	color:#333
}
.isoman-path-item:hover {
	text-decoration:underline
}
.isoman-path-item:focus {
	background:#666;
	color:#fff
}
.isoman-path .isoman-divider {
	display:inline
}
.isoman-disabled .isoman-path-item {
	color:#aaa
}
.isoman-rtl .isoman-path {
	direction:rtl
}
.isoman-progress {
	display:inline-block;
	overflow:hidden;
	position:relative;
	width:100px;
	height:20px;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.isoman-progress .isoman-text {
	position:absolute;
	top:50%;
	left:0;
	text-align:center;
	margin-top:-8px;
	font-size:12px;
	width:100%;
	text-shadow:1px 1px #fff
}
.isoman-bar {
	display:block;
	width:0;
	height:100%;
	background-color:#d7d7d7;
	background-image:-moz-linear-gradient(top, #dfdfdf, #ccc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#ccc));
	background-image:-webkit-linear-gradient(top, #dfdfdf, #ccc);
	background-image:-o-linear-gradient(top, #dfdfdf, #ccc);
	background-image:linear-gradient(to bottom, #dfdfdf, #ccc);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffcccccc', GradientType=0);
	zoom:1;
-webkit-transition:width .2s ease;
transition:width .2s ease
}
.isoman-slider {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #AAA;
	background:#EEE;
	width:100px;
	height:10px;
	position:relative;
	display:block
}
.isoman-slider.isoman-vertical {
	width:10px;
	height:100px
}
.isoman-slider-handle {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #BBB;
	background:#DDD;
	display:block;
	width:13px;
	height:13px;
	position:absolute;
	top:0;
	left:0;
	margin-left:-1px;
	margin-top:-2px
}
.isoman-spacer {
	visibility:hidden
}
.isoman-splitbtn .isoman-open {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.isoman-splitbtn:hover .isoman-open {
	border-left-color:#bdbdbd;
	border-right-color:#bdbdbd
}
.isoman-splitbtn button {
	padding-right:4px
}
.isoman-splitbtn .isoman-open {
	padding-left:4px
}
.isoman-splitbtn .isoman-open.isoman-active {
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.isoman-rtl .isoman-splitbtn {
	direction:rtl;
	text-align:right
}
.isoman-rtl .isoman-splitbtn button {
	padding-right:10px;
	padding-left:10px
}
.isoman-rtl .isoman-splitbtn .isoman-open {
	padding-left:4px;
	padding-right:4px
}
.isoman-stack-layout-item {
	display:block
}
.isoman-tabs {
	display:block;
	border-bottom:1px solid #c5c5c5
}
.isoman-tab {
	display:inline-block;
*display:inline;
*zoom:1;
	border:1px solid #c5c5c5;
	border-width:0 1px 0 0;
	background:#e3e3e3;
	padding:8px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	height:13px;
	cursor:pointer
}
.isoman-tab:hover {
	background:#fdfdfd
}
.isoman-tab.isoman-active {
	background:#fdfdfd;
	border-bottom-color:transparent;
	margin-bottom:-1px;
	height:14px
}
.isoman-rtl .isoman-tabs {
	text-align:right;
	direction:rtl
}
.isoman-rtl .isoman-tab {
	border-width:0 0 0 1px
}
.isoman-textbox {
	background:#fff;
	border:1px solid #c5c5c5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display:inline-block;
-webkit-transition:border linear .2s, box-shadow linear .2s;
transition:border linear .2s, box-shadow linear .2s;
	height:28px;
	resize:none;
	padding:0 4px 0 4px;
	white-space:pre-wrap;
*white-space:pre;
	color:#333
}
.isoman-textbox:focus, .isoman-textbox.isoman-focus {
	border-color:rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.65)
}
.isoman-placeholder .isoman-textbox {
	color:#aaa
}
.isoman-textbox.isoman-multiline {
	padding:4px
}
.isoman-textbox.isoman-disabled {
	color:#adadad
}
.isoman-rtl .isoman-textbox {
	text-align:right;
	direction:rtl
}
.isoman-throbber {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:.6;
	filter:alpha(opacity=60);
	zoom:1;
	background:#fff url('../images/loader.gif') no-repeat center center
}
.isoman-throbber-inline {
	position:static;
	height:50px
}
.isoman-thumbnailview {
	border:0 solid #9e9e9e;
	overflow:auto;
	overflow-x:hidden
}
.isoman-thumbnailview .isoman-image {
	margin:5px;
	width:107px;
	height:100px;
	float:left
}
.isoman-thumbnailview .isoman-checked .isoman-checkbox {
	font-size:16px;
	line-height:16px;
	text-indent:0
}
.isoman-thumbnailview i.isoman-thumb {
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -10px
}
.isoman-thumbnailview i.isoman-thumb {
	margin:0;
	position:static;
	width:100%;
	height:100%;
	font-size:48px;
	text-align:center;
	margin-top:-24px;
*margin-top:-10px;
*margin-left:4px;
	vertical-align:middle;
	line-height:100px
}
.isoman-treeitem .isoman-treeitem-title {
	display:block;
	vertical-align:middle;
	padding:0 4px 0 4px;
	cursor:pointer;
	line-height:20px
}
.isoman-treeitem .isoman-text {
	line-height:20px
}
.isoman-treeitem-body {
	display:none
}
.isoman-treeitem-title .isoman-ico {
	display:inline-block
}
.isoman-treeitem-expanded {
	display:block
}
.isoman-treeitem .isoman-container-body {
	height:auto
}
.isoman-treeitem .isoman-text {
	padding-left:4px
}
.isoman-treeitem .isoman-expander {
	width:9px;
	height:9px;
	display:inline-block;
	vertical-align:middle;
	margin-right:3px
}
.isoman-treeitem-title-expanded .isoman-expander {
	background-position:-9px 0
}
.isoman-treeitem .isoman-hidden {
	background:0
}
.isoman-treeitem-title-fixed .isoman-text {
	font-weight:bold
}
.isoman-treeitem-title-fixed .isoman-expander {
	display:none
}
.isoman-treeitem-title-selected {
	background-color:#59a5e1;
	background-image:-moz-linear-gradient(top, #71b9eb, #3587d2);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#71b9eb), to(#3587d2));
	background-image:-webkit-linear-gradient(top, #71b9eb, #3587d2);
	background-image:-o-linear-gradient(top, #71b9eb, #3587d2);
	background-image:linear-gradient(to bottom, #71b9eb, #3587d2);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff71b9eb', endColorstr='#ff3587d2', GradientType=0);
	zoom:1
}
.isoman-treeitem-title-selected .isoman-text {
	color:#fff
}
@media all and (min-width:0) {
.isoman-treeitem-title-selected .isoman-ico {
color:white
}
}
.isoman-viewport {
	border:0;
	padding:0;
	margin:0;
	overflow:hidden;
	background:#FFF;
	height:100%
}
div.isoman-viewport {
	position:absolute;
	top:0;
	left:0
}
@font-face {
	font-family:'moxman';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/icomoon.svg#icomoon') format('svg'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype');
	font-weight:normal;
	font-style:normal
}
.isoman-ico {
	font-family:'moxman', Arial;
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	line-height:16px;
	vertical-align:text-top;
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	background:transparent center center;
	width:16px;
	height:16px;
	color:#333;
	zoom:1
}
.isoman-i-manage:before {
	content:"\e009"
}
.isoman-i-search:before {
	content:"\e00a"
}
.isoman-i-folder:before {
	content:"\e00b"
}
.isoman-i-thumbs:before {
	content:"\e00c"
}
.isoman-i-list:before {
	content:"\e00d"
}
.isoman-i-cloud-download:before {
	content:"\e00e"
}
.isoman-i-delete:before {
	content:"\e00f"
}
.isoman-i-paste:before {
	content:"\e010"
}
.isoman-i-copy:before {
	content:"\e011"
}
.isoman-i-cut:before {
	content:"\e012"
}
.isoman-i-create:before {
	content:"\e013"
}
.isoman-i-download:before {
	content:"\e014"
}
.isoman-i-upload:before {
	content:"\e015"
}
.isoman-i-refresh:before {
	content:"\e016"
}
.isoman-i-checkbox:before {
	content:"\e017"
}
.isoman-i-selected:before {
	content:"\e017"
}
.isoman-i-file:before {
	content:"\e018"
}
.isoman-i-save:before {
	content:"\e019"
}
.isoman-i-undo:before {
	content:"\e01a"
}
.isoman-i-fullscreen:before {
	content:"\e01b"
}
.isoman-i-redo:before {
	content:"\e01c"
}
.isoman-i-flip-v:before {
	content:"\e01d"
}
.isoman-i-flip-h:before {
	content:"\e01e"
}
.isoman-i-rotate-left:before {
	content:"\e01f"
}
.isoman-i-rotate-right:before {
	content:"\e020"
}
.isoman-i-history:before {
	content:"\e021"
}
.isoman-i-favorites:before {
	content:"\e022"
}
.isoman-i-parent:before {
	content:"\e01a"
}
.isoman-i-file-zip:before {
	content:"\e100"
}
.isoman-i-file-text:before {
	content:"\e101"
}
.isoman-i-file-code:before {
	content:"\e102"
}
.isoman-i-file-xml:before {
	content:"\e103"
}
.isoman-i-file-powerpoint:before {
	content:"\e104"
}
.isoman-i-file-excel:before {
	content:"\e105"
}
.isoman-i-file-word:before {
	content:"\e106"
}
.isoman-i-file-openoffice:before {
	content:"\e107"
}
.isoman-i-file-pdf:before {
	content:"\e108"
}
.isoman-i-file-image:before {
	content:"\e001"
}
.isoman-i-dropbox:before {
	content:"\e029"
}
.isoman-i-skydrive:before {
	content:"\e02a"
}
.isoman-i-logout:before {
	content:"\e02b"
}
.isoman-inter:before {
	content:"\e023"
}
.isoman-i-selected {
	visibility:hidden
}