@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: block;  
  font-family: "SF Pro Display";
}

.img100 {
    width: 100%;
    /* height: auto; */
}

/* CSS Desktop */




/* CSS Body Blog*/

/* CSS BreadCrumb And 6 Blogs*/

.listblog_breadcrumb {
	padding: 1px 0 0px 0;
    background: #fff;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    position: relative;
    z-index: 2;
    top: 10%;
    margin-top: -2.75rem
}
.breadcrumb_list {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

.txt_youarehere {
    color: #111D37;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-right: 12px;
    margin-bottom: 0; 
    line-height: 24px;  
  }

.breadcrumb-item + .breadcrumb-item::before {
  content: none; 
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  display: inline-block;
  margin: 0 8px; 
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f054";
  color: #ffa718; 
}



.breadcrumb .container {
    display: flex;
    align-items: center;
  }
  
.breadcrumb ol {
    margin-top: 0;    
    margin-bottom: 0; 
  }
  
.breadcrumb-item {
    line-height: 24px; 
  }
  
.breadcrumb-item a { 
  color: #FFA718;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  }

.breadcrumb-item.active {
  color: #111D37;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  }

.blog-top {
  margin-top: 40px;
}

  .blog-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*border-bottom: 1px solid #D3DCE1;*/
    /*margin-top: 24px;*/
  }

  .img-blog {
    width: 296px;
	height: 193px;
    border-radius: 8px;
  }

  .blog-item .img-blog-mid {
	width: 624px;
	height: 408px;
    max-height: none;
	border-radius: 8px;
  }




  .blog-item-center a {
    color: #111d37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    margin-top: 24px;
  }
  
  .txt_blogitem a {
    color: #111d37;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
  }

  .title_blog_mid {
    color: #111D37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 162.5% */
  }
  
  .blog-top .blog-item .blog-item-content {
    color: var(--Neutral-2, #434b5c);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  
  .blog-top p {
    color: #434b5c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .blog-top .date-time {
    color: #434b5c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
.txt_blogitemmid a {
	color: #111D37;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	text-decoration: none;
}
  
  .blog-top .blog-item-center-second {
    flex-direction: unset;
    gap: 0 !important;
  }

/* End BreadCrumb And 6 Blogs */

  /* CSS Lastest Blog */

  .title-lastest-blog {
    color: #111d37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    position: relative;
    margin-top: 61px;
  }

  .lastest-blog .last-blog-item {
    display: flex;
    flex-direction: column;
    gap: 32px
  }

.title-lastest-blog::after {
  width: 14%;
  left: 7%;
  bottom: 18%;
}

  .title-lastest-blog::after,
  .title-recently-view::after,
  .read-next-title::after,
  .txtreviews_::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
  }


.list_lastblog {
  display: flex;
  border-bottom: 1px solid #D3DCE1;
  margin-bottom: 24px;
  padding-bottom: 26px;
}

img.img-last-blog  {
	width: 405px;
	height: 237px;
	border-radius: 8px;
	
}

.last-blog-item h3 a {
  color: #111d37;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}

.last-blog-item .date-time {
  margin: 16px 0;
}

.pagination {
  gap: 0 12px;
}

.pagination .select-link {
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(rgba(255, 167, 24, 0.4), rgba(255, 167, 24, 0.4));
}

.pagination .page-item {
  font-size: 16px;
  color: #d3dce1;
}

div.last-blog-paginate .page-link {
  border: unset !important;
}

div.last-blog-paginate .page-link {
  color: #d3dce1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
div.last-blog-paginate .page-link i {
  color: #111d37;
}

div.last-blog-paginate .paginate-active .page-link {
  color: #434B5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: #FFA718;
  border-radius: 3px;
}

.search-item {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding: 12px 10px 12px 20px;
  border-radius: 4px;
}

.search-item .search-item-icon {
  cursor: pointer;
  border: none;
}
.search-item .search-item-icon img {
  top: 10px;
  left: 10px;
}
.search-item .search-item-txt input {
  background-color: #f0f0f0;
  width: 100%;
  color: #959aa4;
  font-weight: 500;
  font-size: 16px;
}

.search-item .input-search:focus {
  outline: none;
}

.search-item .input-search {
  color: var(--Neutral-3, #959aa4);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}


.search-item .search-item-txt input::placeholder {
  color: #959aa4;
  font-weight: 500;
  font-size: 16px;
}




input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.25);
}
.form-check-input:checked {
  border: 2px solid #ffa718;
  background-color: #ffa718;
}



.list_filter {
  display: flex;
  /* width: 296px; */
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: #F0F0F0;
  margin-bottom: 24px;
  margin-top: 16%;
}

.txt_filter {
  color:#434B5C;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}

.list_fiter_articles {
  color: #434B5C;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}

.filter-articles {
  border-radius: 4px;
  border: 1px solid var(--Neutral-4, #d3dce1);
}

.filter-articles .filter-radio,
.filter-checkbox {
  padding: 0 16px;
}

.filter-articles .filter-checkbox {
  border-top: 1px solid var(--Neutral-4, #d3dce1);
}

.filter-articles .filter-radio {
  padding-bottom: 20px;
}

.filter-articles .filter-checkbox {
  padding-top: 20px;
  padding-bottom: 23px;
}

.filter-articles .form-check {
  padding-bottom: 16px;
}

.list_fiter_articles {
  color: #434b5c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px;
}

.view-more {
	color: #FFA718;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
}

.featured-blogs {
  margin-top: 40px;
}

.txt_featureblog {
  color: var(--Neutral-2, #434b5c);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-bottom: 24px;
}

.txt_featuredblogs {
  font-size: 14px;
}

.txt_featuredblogs a {
  color: var(--Neutral-1, #111d37);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.featured-blogs .featured-blog {
  margin-bottom: 24px;
  text-decoration: none;
}

.img_featureblog{
    width: 83px;
    height: 83px;
    border-radius: 8px;
}



/* CSS Recently view */

.title-recently-view {
	color: #111D37;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 52px;
	position: relative;
	margin-bottom: 24px;
}

.title-recently-view::after {
	width: 12%;
	left: 6%;
	bottom: 10%;
}

.blog-item-recently {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.txt_recently a {
	color: #111d37;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	text-decoration: none;
}

.txt_recentlyview {
	color: #434b5c;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.date-time {
	color: #434B5C;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}

/* CSS Review */

.txtreviews_ {
	color: var(--Neutral-1);
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    margin-bottom: 32px;
	position: sticky;
}

.txtreviews_::after {
	width: 6%;
    left: 52%;
    bottom: 13%;
}

/* CSS Review End */


@media only screen and (max-width: 575px) { /* Text Intro blog Header*/
  .txt_introblog, .txt_h1, .txt_pp {
    display: block;
    padding-top: 0px;
    margin: 0;
  }
}

@media only screen and (max-width: 575px) { /*Dropdown menu Header*/
  .list_dropdownmenu {
    display: block;
    padding-top: 0px;
    margin: 0;
	content-visibility: hidden;
  }
}

@media only screen and (max-width: 575px) {
  .title-lastest-blog::after { /*Lastest Blog*/
    display: block;
    padding-top: 0px;
    margin: 0;
	width: 46% !important;
  left: 23% !important;
  bottom: 18% !important;
  }
}

@media only screen and (max-width: 575px) {
  .title-recently-view::after { /*Recently Views*/
    display: block;
    padding-top: 0px;
    margin: 0;
	width: 39% !important;
  	left: 20% !important;
  	bottom: 18% !important;
  }
}



@media only screen and (max-width: 575px) {
	.blog-item img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 575px) {
  .txtreviews_::after { /*Reviews*/
    display: block;
    padding-top: 0px;
    margin: 0;
	width: 24% !important;
  	left: 54% !important;
  	bottom: 18% !important;
  }
}





@media only screen and (max-width: 1350px) {
  .search-item .search-item-txt input {
    background-color: #f0f0f0;
    width: 100%;
    color: #959aa4;
    font-weight: 500;
    font-size: 14px;
  }
}


@media only screen and (max-width: 576px) {
  .featured-blogs .featured-blog img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1350px) {
  .search-item .search-item-txt input::placeholder {
    color: #959aa4;
    font-weight: 500;
    font-size: 14px;
  }
}

/* @media only screen and (max-width: 575px) {
  .list_filter {
    display: block;
    padding-top: 0;
  }
} */


/* CSS Detail Blog */

/* Blog Detail Header*/

/*
.bground_introtxt {
    display: flex;
    align-items: center; 
}
*/


.bground_introtxt .col-md-6 {
	padding-right: 0;
	padding-left: 0;
}

.rounded_right {
    background-color: #111D37; 
    color: white; 
    padding: 47px; 
    display: flex;
    align-items: center; 
/*    justify-content: center;*/
}

.txth2_blogdetail {
	width: 519px;
}

.rounded_right {
    min-height: 100%;
}

.textdesblog {
    /* height: 100%;  */
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.infor_dateauthor {
    display: flex;
    align-items: center;
}

.infor_dateauthor i {
    margin-right: 5px; 
}

.txt_blogdetaildes {
	width: 518px;
}
.img_detailblog {
	width: 1034px;
    height: 861px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
	margin-right: -15px;
}


.infor_author {
	margin-left: 25px;
}

/* Blog Detail Header End*/

/* Blog Detail Body */

.listblogdetail_breadcrumb {
	padding: 1px 0 0px 0;
	background: #fff;

	position: relative;
	z-index: 2;
	top: 10%;
}

/* Blog Detail Body End */

.item_blogdetail  {
	display: inline-flex;
	flex-direction: column;
	gap: 24px;
<<<<<<< Updated upstream
	width: 908px;
=======
	max-width: 908px;
>>>>>>> Stashed changes
}

.introduct_txt  {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.title-detailblog {
	color: #111D37;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.txt_p_detailblog{
	color: var(--Neutral-1, #111D37);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.time_txt_detailblog {
	color: var(--Neutral-1, #111D37);
	font-family: "SF Pro Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 150% */
}


.txt_ico_share_star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D3DCE1;
}

.txtshare {
	color: #959AA4;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding-top: 19px;
	margin-right: 10px;
}


.social-icon-share-blog {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.social-icon-blog {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ffffff;
  color: #959aa4;
  text-decoration: none;
  box-shadow: 0px 12px 32px 0px rgba(125, 135, 158, 0.09);
  transition: color 0.3s;
	margin-left: 5px;
}

.social-icon-blog:hover {
  color: #ffa718;
  box-shadow: 0px 12px 32px 0px #ffa718;
  transform: scale(1.1);
}

.txt_ico_share .share-content {
  display: flex;
  align-items: center;
}

.rating-and-votes {
  display: flex;
  align-items: center;
	margin-left: auto;
}

.star-icons i {
  margin-right: 3px;
}

.vote-count {
	color: #959AA4;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.txt_des_tour {
	display: grid;
	gap: 8px;
}

/* CSS Related Tour */

.list_viewtour {
	margin-bottom: 32px;
	display: grid;
	gap: 8px;
}

.txth_relatedtour {
	color: #111D37;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px; /* 155.556% */
}

.score_reviewtour {
	margin-bottom: 3px;
}

.border_score {
	display: inline-flex;
	padding: 2px 6px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	background: #13B97D;
	color: #FFF;
	font-size: 14px;
}
.txt_score {
	color: #13B97D;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	margin-left: 8px;
}

.txt_placetours {
	color: #434B5C;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-left: 8px;
}

.border_place {
	display: inline-flex;
	padding: 2px 6px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 2px;
    background-color: rgba(255, 167, 24, 0.2);
	color: #FFA718 !important;
	margin-left: 8px;
	width: 34px;
	height: 22px;
	font-size: 14px;
}

.txt_reviewstour {
	color: #959AA4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-left: 3px;
}

.from_txtp {
	color: #959AA4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: auto;
}

.txt_price {
  display: flex;
  align-items: baseline;
}
.from_price {
    flex-direction: row;
}

.txt_price {
	color: #FFA718;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}
.txt_numbprice {
	color: #FFA718;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	margin-left: 5px;
}

.border_exploremore {
<<<<<<< Updated upstream
	width: 296px;
=======
	max-width: 296px;
>>>>>>> Stashed changes
	height: 152px;
	flex-shrink: 0;
	fill: linear-gradient(180deg, rgba(24, 28, 26, 0.48) 0%, rgba(24, 28, 26, 0.00) 100%);
	position: relative; 
}

.tour_exploretxt {
	position: absolute;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
    bottom: 50%; /* Điều chỉnh khoảng cách từ dưới ảnh */
    left: 16%;
}

.btn_seealltour {
	padding: 12px 20px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	fill: linear-gradient(180deg, rgba(24, 28, 26, 0.48) 0%, rgba(24, 28, 26, 0.00) 100%);
	position: absolute; 
    bottom: 20px; /* Điều chỉnh vị trí từ dưới lên */
    left: 50%;   /* Đặt button ở giữa theo chiều ngang */
    transform: translateX(-50%); /* Điều chỉnh lại để chính giữa */
	border-radius: 8px;
	background: #FFA718 !important;
	color: #FFF !important;
}

/* CSS Related Tour End */

/* CSS Read The Next */

.tag_blog {
  display: flex;
  align-items: center;
}

.tags_ {
	  display: flex;
	margin-left: 8px;

}

.txt_tag_ {
	margin-left: 8px;
}

.txt_readblog {
	color: #111D37;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 52px;
	position: relative;
	margin-top: 90px;
	margin-bottom: 24px;
}

.txt_readblog::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 11%;
	left: 6%;
	bottom: 18%;
	
  }

.pic_read {
	border-radius: 8px;
}

.txt_cateblog {
	color: #434B5C;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.txthigh_cateblog a {
	color: #111D37;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 44.8px */
	text-decoration: none;

}

.txtdes_cateblog {
	color: #434B5C;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-top: 34px;
}

.txthigh_cateblog_ {
	color: #111D37;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px; /* 160% */
}

.list_readblog .item {
  display: flex; 
	margin: 42px 0px 100px 0px;
}

.list_readblog .text-content {
  margin-left: 15px;
}


.list_readblog {
  flex-wrap: nowrap;
}


.list_readblog img {
  width: 144px;
  height: 145px;
  object-fit: cover;
}

.btn_viewtour {
	display: flex;
	width: 117px;
	padding: 12px 0px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 8px;
	background: #FFA718 !important;
	color: #FFF !important;
}


/* CSS Read The Next End */

/* CSS Detail Blog End*/



@media only screen and (max-width: 750px) {
	.rounded_right {
		width: auto;
	}
}

@media only screen and (max-width: 750px) {
  .bground_introtxt .col-md-6 {
	  padding-right: revert-layer;
  }
}

@media only screen and (max-width: 750px) {
  .txth2_blogdetail {
	 width: auto;
  }
}









