.hotel_detail_body {
	width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex; /* Hoặc grid */
  flex-direction: column; /* Hoặc các thuộc tính grid khác */
}

.hotel_detail_body #header_fixed {
	box-shadow: rgba(125, 135, 158, 0.09) 0px 12px 32px 0px;
}
.hotel_detail_body .txt_header1 {
	
	background-color: #111D37;
}

.hotel_detail_body .border-bottom {
	border-bottom: none !important;
}

.hotel_detail_body .text-light .img_logo_voyages_2 {
	display: unset !important;
}

.hotel_detail_body .text-light .img_logo_voyages_1 {
	display: none !important;
}

.hotel_detail_body .txt_dropdown {
	color: rgb(17, 29, 55) !important;
}

.hotel_detail_body .drop_down {
	background-color: rgb(240, 240, 240);
}

.hotel_detail_body .fa-angle-down {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
}

.page_detail_stay {
	margin-top: 30px;
}

.navbarHeads-li {
	display: flex;
}

.share_news .sharer-icons a {

    margin-bottom: 5px !important;
}

.share_box {
    position: relative
}

.share_news {
    position: absolute;
    top: 0 ;
    right: 0;
    margin-top: 46px ;
    margin-right: -20px ;
    display: none !important;
}

.share_box.open .share_news {
    display: block !important;
}


.share_news .sharer-icons {
    display: block !important;
    background-color: white;
}

.section_box_image_top .big_image .view_all {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    margin: 0;
    border-radius: 3px;
    background: #00000080;
    padding: 0px 7px 0px 24px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
}

.section_box_image_top .big_image .view_all:before {
    position: absolute;
    background: url(../images/icon/icon_cruise.png) no-repeat;
    content: "";
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    bottom: 6px;
    left: 4px;
    background-position: -28px -34px;
}

.view_all {
	position: absolute;
	right: 20%;
	bottom: -141px;
	color: #FFF;
	cursor: pointer;
}

.img_see:after {
	  content: "";
      position: absolute;
    top: 0;
      left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, rgba(24, 28, 26, 0.48) 0%, rgba(24, 28, 26, 0.00) 100%);
}


.border-icoshare {
	margin-left: auto;
	display: inline-flex;
	padding: 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	background: var(--Neutral-5, #F0F0F0);
	width: 3%;
	height: 40px;
}

.sharer-icon {
	display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-right: 8px !important;
  background-color: #ffffff !important;
  color: #959aa4 !important;
  text-decoration: none !important;
  box-shadow: 0px 12px 32px 0px rgba(125, 135, 158, 0.09) !important;
  transition: color 0.3s !important;
	margin-left: 5px !important;
	border-color: unset !important;

}

.sharer-icon:hover {
	  color: #ffa718 !important;
  box-shadow: 0px 12px 32px 0px #ffa718 !important;
  transform: scale(1.1) !important;
}


.detailReviewsHotels {
    display: flex;
    justify-content: space-between;
	margin-bottom: 32px;
}

.scroll-nav {
    gap: 20px; /* Khoảng cách giữa "Reviews" và "Địa điểm" */
    flex: 1; /* Cho phép phần này co giãn để chiếm không gian còn lại */
}

.txt_numbt {
   align-self: flex-start;
    display: grid; /* Sử dụng Grid Layout */
    gap: 13px; /* Khoảng cách giữa các phần tử */
}

.txt_numbt span.price {
	color: #FFA718;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
}


.btn_contactus {
	 align-self: center;
    margin-left: 10px; /* Khoảng cách giữa nút và giá tiền */
	 grid-column: 2;
}

.txt_fromnum {
	color: #959AA4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 8px;
	margin-top: 8px;
	display: flex;
	justify-content: end;
}

.txt_numbfromus > p:not(.txt_fromnum) { /* Áp dụng cho các thẻ <p> trừ .txt_fromnum */
    display: inline-flex; /* Sắp xếp các phần tử con thành hàng ngang */
    align-items: baseline; /* Căn chỉnh các phần tử con theo baseline */
}

.price { /* Điều chỉnh margin của phần giá */
    margin-left: 5px; /* hoặc giá trị khác tùy theo mong muốn của bạn */
}


.txt_txtus {
	color: #FFA718;
	text-align: right;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	margin: auto;
}

.txt_numbus {
	color: #FFA718;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
}

.txt_numbus .contactLink {
	margin-left: 8px;
}

.hotelPageDetail {
    margin-bottom: 100px;
}

.btn_viewtour {
	display: flex;
	width: 148px;
	padding: 12px 20px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 8px;
	background: #FFA718 !important;
	color: #FFF !important;
}

.btn_viewtour:hover {
	background: #e88f00 !important;
}

.txt_reviews {
	color: #959AA4;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.btn_contactprice {
	display: flex;
	width: 357px;
	padding: 12px 20px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 8px;
	background: #FFA718 !important;
	color: #FFF !important;
}

.btn_contactprice:hover {
	background: #e88f00 !important;
}


  .border_score {
    position: relative;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px 8px 8px 0px;
    background: var(--Accent-2, #004EA8);
  }

  .numb_scorestay {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.hotel_detail_main .scroll-title li a {
color: #959AA4;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
}

  .record_txt {
    display: flex; /* Kích hoạt flexbox để căn chỉnh các phần tử con */
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  
  .txt_score-review {
    display: flex; /* Kích hoạt flexbox cho container bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
	  margin-bottom: 12px;
  }
  
  .border_score {
    margin-right: 10px; /* Tạo khoảng cách giữa khung điểm và chữ "Very good" */
  }

  .record_txt {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

.txt_reviewsquality {
  display: flex;
  align-items: center;
}

.customersay .txt_reviews {
	color: #111D37;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 52px;
	position: sticky;
	margin-bottom: 32px;
}

.customersay .txt_reviews::after {
	    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 53%;
  	left: 62%;
  	bottom: 16%;
}

.txt_qualityreview{
  	margin: 0;
	color: #111D37;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.txt_icolocation {
  display: flex; /* Kích hoạt flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.txt_location {
	margin: 0;
	color: #434B5C;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-left: 8px;
}

.navbarHeads-title {
/*    max-width: 1396px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/*
ul li {
    list-style: none;
}
*/

.navbarHeads-nav {
    font-size: 32px;
    line-height: 52px;
    font-weight: 600;
    color: #111D37;
}

.detailStartsHotels {
    margin-bottom: 12px;
}

.detailStartsHotels .star_rate {
	justify-content: flex-start;
	margin-bottom: 12px;
	
}

.result_searchss {
    color: #434B5C;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 18px;
}

.filter_left_search .find_Box {
    padding: 32px 0;
    border-bottom: 1px solid #D3DCE1;
}

.fa.fa-map-marker {
    font-size: 18px;
    color: #07C;
}

.navbarHeads {
    margin-bottom: 32px;
}

.scroll-title {
    display: flex;
    align-items: center;
    gap: 0 32px;
	color: #3F6DF6;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding: 0;
    margin-left: 4px;
	list-style: none;
}

.hotel_detail_main .scroll-title li .active {
    color: #111D37 !important;
    padding-left: 8px;
    border-left: 6px solid #FFA718;
    transition: all ease-in-out .2s;
}

.hotel_detail_main .scroll-title li a {
    color: #959AA4;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.txt_icolocation a {
	margin-left: 8px;
	color: #FFA718 !important;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	text-decoration-line: underline !important;
	cursor: pointer;
}

.title-etap::after {
  width: 46px;
  left:36px;
  bottom: 12px;
}

 .title-etap::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
  }

    .title-etap {
        font-size: 24px !important;
        font-weight: 600;
        line-height: 52px;
        color: #111D37;
		position: sticky;
    }

.box_info_right_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px;
    background: #FFF;
	border-radius: 8px;
	background: #FFF9F1;
	border-top: 0px;
	flex-direction: column;
	gap: 16px;
}

.txt_bestprice {
	align-self: stretch;
	color: #111D37;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px; /* 150% */
}

.price_from_text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
	width: 357px;
	padding: 16px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	border-radius: 8px;
	background: #004EA8;
}

.box_right_info_hotel .from_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.box_right_info_hotel .val_price {
display: flex;
	
}

/*
.box_right_info_hotel .val_price .old_price {
    display: block;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 16px;
}
*/
.txt_prival {
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
}
.numb_prival {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	margin: 0 0 0 8px;
}

.txt_pricepax {
	color: #D3DCE1;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

form .departure_day {
	width: 357px;
    height: 40px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
	background: #FFA718;    
	color: #FFF !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

form .departure_day:hover {
    background: #FFA718 ;
    color: #FFF;
}

.view-more {
	cursor: pointer;
	color: #FFA718;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
}

.title_overview {
        font-size: 32px;
        font-weight: 600;
        line-height: 52px;
        color: #111D37;
		position: sticky;
		font-style: normal;
	margin-bottom: 32px;
    }

 .title_overview::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 7%;
  	left: 6%;
  	bottom: 14%;
  }

.navbarHeads-title .star_hotel i.fa-star{
    font-size: 20px;
    color: var(--Primary);
    padding: 2.083px 1.665px 2.082px 1.666px;
}

.Inclusion-txt p {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111D37;
	display: flex;
  	align-items: flex-start;
}

.overview-content .Inclusion-txt .description {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111D37;
}


.tabs2-title {
	font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    color: #111D37;
	position: sticky;
}
.tabs2-title:after {
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 10%;
	left: 7%;
	bottom: 16%;
}

#Overview {
    margin-top: 80px;
}

.overview_favor {
    display: flex;
    justify-content: space-between; 
}

.overview_favor .item {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.tabs2 {
	margin-bottom: 32px;
}


#accommodation .txt_reviewscore {
	color: #959AA4;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	
}

.border-accomm {
	max-width: 1279px;
	min-height: 448px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid var(--Neutral-4, #D3DCE1);
	margin-bottom: 48px;
}

.border-accomm .row {
	display: flex;
	padding: 24px;
}

.border-accomm .col-md-4 {
    padding: 20px;
}

.border-accomm .column-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.border-accomm .item {
    display: flex;
    align-items: center;
    gap: 5px; /* Khoảng cách giữa icon và chữ */
}

.column-content h4 {
	color: #111D37;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 150% */
}

#Add-ons {
    background-color: #FFF9F1;
    padding-bottom: 46px;
}

#Add-ons .prix {
/*    max-width: 1310px;*/
    width: 100%;
    margin: 0 auto;
}

#Add-ons .title-prix {
	font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    color: #111D37;
	position: sticky;
}

#Add-ons .prix .title-prix {
    padding-top: 48px;

}


#Add-ons .title-prix::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 8%;
	left: 5%;
	bottom: 11%;
  }

.txt_inclus {
   font-weight: 600;
    line-height: 52px;
    color: #111D37;
	position: sticky;	
	font-size: 32px;
	margin-top: 82px;
	margin-bottom: 32px;

    }

.txt_inclus::after {
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 5%;
	left: 4%;
	bottom: 16%;
}

.Things-prix {
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    color: #111D37;
	position: sticky;
	margin-top: 80px;
}

.Things-prix::after {
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
	width: 10%;
	left: 6%;
	bottom: 16%;
}

.important_note_box {
    border-radius: 3px;
    border: 1px solid #D7D7D7;
}

.important_note_item {
    display: flex;
    border-bottom: 1px solid #D7D7D7;
    padding: 32px 0 18px 24px;
	align-items: flex-start;
}

.important_note_item:last-child {
    border-bottom: none;
}

.important_note_item .note_title {
    width: 100%;
    max-width: 220px;
    color: #111D37;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 20px;
    padding-left: 24px;
    position: relative;
    word-break: break-word;
	font-style: normal;
	display: flex;
	align-items: center;
}


.booking_policy:before {
    background-position: -120px 0 !important;
}

.bed:before {
    background-position: 0 0 !important;
}

.cancel_prepay:before {
    background-position: -30px 0 !important;
}

.other_regulation:before {
    background-position: -90px 0 !important;
}

/*
.important_note_item .box_right {
    width: 100%;
    max-width: calc(100% - 220px);
}
*/

.important_note_item .box_right_content {
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 0;
}

.important_note_item .h3-wrapper {
	width: 100%;
    max-width: 220px;
    color: #111D37;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 20px;
    padding-left: 35px;
    position: relative;
    word-break: break-word;
	font-style: normal;
	margin-right: auto;
}

.check_in , .check_out {
	width: 100%;
    max-width: 220px;
    color: #111D37;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 20px;
    position: relative;
    word-break: break-word;
	font-style: normal;
}

.txt_reviews_ct {
	color: #111D37;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 52px; /* 162.5% */
    margin-bottom: 32px;
	position: sticky;
}

.txt_reviews_ct::after {
	width: 41px;
    left: 637px;
    bottom: 15%;
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
}

.sec_relate_box .sec_relate_title {
    color: #1C1C1C;
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 32px;
    margin-top: 80px;
    text-align: center;
	position: sticky;
}

.sec_relate_box .sec_relate_title::after {
	width: 2%;
    left: 49%;
    bottom: 16%;
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
}

.txtrecentview {
	color: #111D37;
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 52px;
	position: sticky;
	margin: 93px 0 32px 0;
}

.txtrecentview::after {
	width: 40px;
    left: 48%;
    bottom: 15%;
	content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
}

.relate_slide_item_body .star_hotel i.fa-star{
    font-size: 20px;
    color: var(--Primary);
    padding: 2.083px 1.665px 2.082px 1.666px;
}



.reviews_box_top .box_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reviews_box_top .box_score .score_number {
    width: 46px;
    height: 47px;
    line-height: 47px;
    background: var(--main-bg-color);
    text-align: center;
    color: var(--color-text-main-bg);
    font-size: 22px;
    font-weight: 500;
    border-radius: 80px 80px 0px 80px;
    margin-right: 12px;
}

.reviews_box_top .box_score .score_text .txt_score {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 0;
}

.reviews_box_top .box_score .score_text .number_review {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.reviews_box_top .box_score .score_text .number_review .view_all_review {
    color: #07C;
    font-weight: 600;
    margin-left: 15px;
}

.reviews_box_top .box_rate_score:first-child {
    margin-bottom: 25px;
}

.reviews_box_top .lbl_rate_score {
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.score_text h3 {
    font-size: 48px;
    grid-row: 600;
    line-height: 64px;
    color: #FFA718;
}

.reviews_box_top .progress {
    background: #E2E8F0;
    border-radius: 2px;
    height: 11px;
    width: calc(100% - 27px);
}

.reviews_box_top .progress-bar {
    border-radius: 2px;
    background: var(--main-bg-color);
}

.reviews_box_top {
    padding: 9px 30px 30px 27px;
	max-width: 838px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	border-radius: 8px;
background: #F7FAFC;
}

.reviews_box_top .box_rate_score {
        margin-bottom: 20px;
    }

.rating_block{
	border: 1px solid rgba(36, 107, 72, 0.12);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}
.rating_block .rating-header{
	padding:20px 25px;
	color:#FFA718;
	background: rgba(255, 167, 24, 0.08); 

}
.rating_block:not(.phone) .rating-body{
	padding:25px;
}
.rating_block.phone .rating-body{
	padding:15px;
}

.box_write_review {
	 max-width: 838px;
    width: 100%;
    margin: 0 auto;
    display: flex;
	flex-direction: column;
}

.btn_green {
	width: 100%;
	max-width: 242px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 8px;
	background: var(--Primary, #FFA718) !important;
	color: #FFF !important;
}

.btn_green:hover {
	background: #e88f00 !important;
}

.rating-body .form-group {
	display: flex;
	justify-content: flex-end;
}

.hotel_detail_body .customersay {
	background-color: unset;
}

.box_right-body_mobile {
	margin-left: 0;
}

.box_right-body_mobile .price_from_text {
	background: unset;
	width: auto;
	padding: 0;
}

.box_right_body {
	padding: 0;
}

.Inclusion-txt {
   display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.Inclusion-txt ul {
   display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.Inclusion-txt ul {
    width: 200%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111D37;
	list-style: none;
}

.Inclusion-txt li {
	width: 90%;
		display: flex;
  	align-items: flex-start;
}

.Inclusion-txt .imporant_info_highlight {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Tạo hai cột bằng nhau */
  gap: 20px; /* Khoảng cách giữa các cột (tùy chỉnh) */
}

.scroll-nav_sticky {
	position: fixed;
    width: 100%;
    top: 140px;
    z-index: 8;
    box-shadow: rgba(125, 135, 158, 0.09) 0px 12px 32px 0px;
    left: 0;
/*	width: auto;*/
    background: #fff;
/*    padding: 0;*/
/*    border-top: 1px solid #ccc;*/
    padding-top: 5%;
    border: none;
	display: flex;
	justify-content: center;
	align-items: center;  /* Căn giữa theo chiều dọc */
	
}

.scroll-nav_sticky ul {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%); /* Dịch chuyển phần tử về giữa */
	list-style: none;
}



.location_scorereview {
	flex: 1;
}

.txt_numbt_sticky {
  position: fixed;
  top: 154px; /* Giống với top của scroll-nav_sticky */
  right: -90px; /* Cố định ở bên phải */
  z-index: 9;
/*  background-color: #fff;  Hoặc màu nền khác tùy chỉnh */
  padding: 0 14% 0 0;
  border: none;
}

.txt_numbt_sticky .txt_numbfromus {
	 display: flex;
  align-items: center;
	color: #959AA4;
}

.txt_numbt_sticky .txt_fromnum {
	margin-right: 8px;
}

.txt_numbt_sticky .btn_contactus button {
  padding: 6px 14px; /* Điều chỉnh padding để nhỏ hơn */
  font-size: 14px; /* Điều chỉnh cỡ chữ nếu cần */
	max-width: 140px;
	width: 100%;
}

.txt_numbt_sticky .price {
	margin-top: auto;
	margin-bottom: auto;
}

.owl-carousel .owl-item img {
	width: unset;
}

.address .box_body_adress {
	 display: flex;
    align-items: flex-start;
    gap: 0 6px;
}


